.page-main__header {
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 26px;
  margin-top: -30px;
  margin-bottom: 27px;
  padding: 0;
  background-color: white;
}

.page-main__title {
  font-size: 18px;
  color: @text-color - 51;
  font-weight: bold;
  margin-bottom: 30px;
}
