.page-footer
{
  margin: 0 auto;
  text-align: center;
  outline: 1px dashed grey;
}

.page-footer__link
{
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}
