.photos {
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  outline: 1px dashed grey;
}

.photos__list {
  list-style: none;
}

.photos__title {
  font-size: 18px;
  line-height: 26px;
}

.photos__author {
  text-transform: none;
  color: #333333;

  &--name {
  text-transform: capitalize;
  }
}
