.photos {
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
}

.photos__item {
  margin-left: -20px;

  .photos__image {
    margin-left: -37px;
  }
}
.photos__list {
  list-style: none;
}

.photos__title {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.photos__author {
  text-transform: none;
  color: #333333;
  text-align: left;

  &--name {
    text-transform: capitalize;
  }
}

.photos__like {
  display: block
}
