.reasons
{
  margin: 0 auto;
}
.reasons__list
{
  margin: 0;
  padding: 0;
}
.reasons__item
{
  line-height:21px;
  &--main
  {
    color:white;
    background-color:@light-blue;
  }
}
.reasons__briefly
{
  font-size:18px;
  line-height:26px;
  font-weight:bold;
  color:@text-color - 51;
 }
