.reasons__list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  background-color: #eeeeee;
}

.reasons__wrapper {
  padding-bottom: 15px;

  &--main {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.reasons__image {
  display: block;
}

.reasons__briefly {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @text-color - 51;
}

.reasons__item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(214, 214, 214);
  width: 320px;
  line-height: 21px;

  &--main {
    color: white;
    background-color: @light-blue;

    .reasons__briefly {
      color: white;
    }
  }
}
