body {
  font-family: @font-family-main;
  font-size: 14px;
  color: @text-color;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  overflow: hidden;
}
